@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
:root {
  --primary-color: #edb046;
  --secondary-color: #ba5112;
  --text-white: #ffffff;
  --placeholder-color: #b5b5b5;
  --box-shadow-color: #0000001a;
  --text-black: #251814;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend, sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}
