<section class="hero-section">
  <div class="hero-section-left">
    <div class="text">
      <h2>Hello, Beautiful Human!</h2>
      <p>what do you want to do today?</p>
    </div>
  </div>
  <div class="hero-section-right">
    <img src="./assets/young smiling woman working at laptop.png" alt="welcomeImage"/>
  </div>
</section>

<app-filter (filterChange)="handleFilterChanges($event)"></app-filter>

<section class="tasks">

  <div class="task-stats hide">
    <app-task-stats [Percentage] = "activePercentage" tasksStatus="active"></app-task-stats>
    <app-task-stats [Percentage] = "completedPercentage " tasksStatus="completed"></app-task-stats>
  </div>

  <div class="tasks-header">
    <h3>{{ isToday() ? 'Today\'s' : '' }} {{action | titlecase}} Tasks</h3>
    <div class="delete-date">
      <p (click)="deleteAllTasks()">Delete all</p>
      <p>{{ datetoShow | date : "EEEE, dd MMMM yyyy" }}</p>
    </div>
  </div>
  
  <div class="tasks-wrapper">
  
    <div class="task-list">
      <ng-container *ngFor="let task of allTasks">
        <div [style.background-color]=" task.isCompleted ? 'var(--primary-color)' : 'var(--text-white)'">
          <img [src]=" task.isCompleted ? './assets/check-box-completed.svg' : './assets/check-box-active.svg' " alt="check-box-active-Icon"/>
          <p>{{ task.title }}</p>
        </div>
      </ng-container>
      <p *ngIf="allTasks.length == 0" [style.text-align]="'center'">No Tasks Found</p>
    </div>
    
   <div class="task-stats show">
      <app-task-stats [Percentage] = "activePercentage" tasksStatus="active"></app-task-stats>
      <app-task-stats [Percentage] = "completedPercentage " tasksStatus="completed"></app-task-stats>
   </div>
  </div>
</section>
