.mobile-navigation{
    display: none;
    margin: 0rem 1rem 1rem;
    position: sticky;
    top: 5rem;
    z-index: 10;
    background-color: var(--primary-color);
    background-image: url(../../../../public/assets/down-arrow-bold.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border-radius: 6px;
    color: var(--text-black);
    font-weight: 400px;
    font-size: 1rem;
    padding: .5rem 1rem;
    .options-wrapper{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--text-white);
        border-radius: 0px 0px 6px 6px;
        box-shadow: 2px 4px 8px 0px var(--box-shadow-color);
        z-index: 5;
        padding-left:1rem ;
        & > div{
            color: var(--text-black);
            font-weight: 400px;
            font-size: 1rem;
            margin:.5rem 0rem;
        }
    }
}
.show{
    display: block !important;
}
@media screen and (max-width: 950px){
    .mobile-navigation{
        display: block;
    }
}